body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: grey;
}

main {
    background: cornsilk;
    padding: 5% 5% 5% 5%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-width: 10px;
}

H1 {
    margin: 10% 10% 25% 10%;
    width: 100%;
    text-align: center;
}

input {
    width: 150px;
    margin: 15px 15px 15px 15px;
}

label {
    width: 100%;
    display: flex;
    justify-content: left;
}

footer {
    width: 95%;
    text-align: center;
}